// VARIABES

// STATE
$invalid: #505151;

//background
$dark_primary_field: #3a3b3c;
$dark_primary_field_hover: #4e4f50;
$dark_primary_field_light: #646566;
$dark_primary_light: #242526;
$dark_primary: #18191a;
$blue_light: #358cfd;
$blue_primary: #2d88ff;
$blue_dark: #1877f2;
$red_primary: #f23e5c;
$red_dark: #f02849;
$yellow_primary: #f7b928;
$success: #31a24c;
$green_light: #45bd62;
$orange_primary: #f5533d;

// text
$text__light: #9a9da0;
$text__normal: #e4e6eb;
$text__unactive: #70767f;

//border top
$border_bg_light: rgba(255, 255, 255, 0.1);
$border_bg: rgba(255, 255, 255, 0.4);
$border_top: 0.5px solid rgba(255, 255, 255, 0.1);
